body {
	background: #0099FF url(img/img01.gif) no-repeat;
	color: #666666;
	margin-bottom: 100px;
}
table {
	background: #000000;
	border: #666666;
}
img.foto {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left: 0px;
	border-style: thin silver solid;
}
#contenedor {
	margin-left: 400px;
	margin-right: 100px;
}
#superior {
	float: right;
}
#superior ul {
	margin: 0;
	padding-top: 150px;
	padding-right: 180px;
}
#superior li {
	display: inline;
}
#superior a {
	display: block;
	float: left;
	width: 120px;
	height: 20px;
	margin-left: 2px;
	padding: 2px;
	text-decoration: none;
	text-align: left;
	color: #fafafa;
	border-right: 1px solid  #fafafa;
}
#superior a:hover {
	background: #2e2efe;
	color: #fafafa;
}
#superior .active a {
	background: #2e2efe;
	color: #fafafa;
}
#contenido {
	float: left;
	width: 480px;
	padding-top: 60px;
	color: #fafafa;
}
#inferior  {
	clear: both;
	padding: 2px;
	background: #000000;
	margin-right: 200px;
	color: #fafafa;
}
#inferior a {
	color: #fafafa;
}